<section class="bitcoin-section" role = "bitcoin">
     <div class="left-image-block">
        <figure>
            {{ content.field_left_image }}
        </figure>
     </div>
     <div class="bitcoin-desc-block">
        <div class="description">
            {{ content.field_subtitle }}
            {{ content.field_title }}
            {{ content.field_description }}
            {{ content.field_button }}
        </div>
     </div>
</section>